@import "global";

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: $bg-dark2;
  position: absolute;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .footer-section {
    bottom: 0;
    display: flex;
    width: 50%;
    justify-content: center;
    margin: 10px auto 10px auto;
    color: $mid-gray;
    justify-content: space-between;
    align-items: center;

    .footer-logo {
      display: flex;
      align-items: center;
      height: 100%;
      z-index: 2;
      text-decoration: none;
      font-size: 25px;
      color: $mid-gray;
      font-weight: bold;
      margin-left: 0.5rem;
    }

    .copyrights {
      margin-bottom: 0rem;
    }

    #social {
      margin: 0px 10px 0px 10px;
    }
  }
}

@media screen and (max-width: 900px) {
  .footer-section {
    flex-direction: column;
    width: 100% !important;

    .footer-logo {
      margin-bottom: 1rem;
    }

    .copyrights {
      margin-bottom: 1rem !important;
    }

    #social {
      margin-top: 1rem !important;
      margin-bottom: 1rem !important;
    }
  }
}
