@import "./global.scss";

.stats {
  background-color: #e62117;
  .stats-section {
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;

    .live-stats {
      display: flex;
      flex-wrap: wrap;

      .item-desc {
        align-items: center;
        text-align: center;
        color: $white;
        width: 100%;

        #yt-icon {
          color: $white;
          size: 40;
        }
      }

      .live-item {
        padding: 0.9375rem;
        flex: 0 0 50%;
        flex: 1;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22);
        margin-bottom: 20px;
        text-align: center;
        color: $white;
        border-radius: 6px;
        -webkit-transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
        -ms-transition: all 200ms ease-in-out;
        -o-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;

        .live-icon {
          margin-bottom: 1rem;
          justify-content: center;
          display: flex;
          justify-content: space-evenly;
        }

        .live-title {
          font-weight: bold;
          line-height: 1.15;
          margin-bottom: 1.5rem;
        }
      }

      .live-item:hover {
        transition: all 200ms ease-in-out;
        transform: scale(1.05);
      }
      .live-intro {
        margin-bottom: 1.875rem;
        text-align: center;
      }

      .live-description {
        font-size: 0.875rem;
        line-height: 1.5rem;
      }
    }
  }
}

@media screen and (min-device-width: 900px) {
  .live-grid {
    display: flex;
    flex-wrap: wrap;
  }

  .item-desc {
    width: 30%;
  }

  .live-item {
    margin-right: 20px;
    width: 70vh;
  }

  /* .live-title {
    font-size: 1.5rem;
    margin-bottom: 2.125rem;
  } */
}
