@import "./Global.css";

.hero {
  background-color: var(--bg-dark2);
  height: 70vh;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.content {
  width: 100%;
  max-width: 100%;
  position: absolute;
}

.hero-content {
  text-align: center;
}

.hero-content .title {
  color: var(--white);
  padding: 20px 0;
  font-size: 3rem;
  animation-delay: 0.6s;
}
#title-colored {
  color: var(--first-color);
}
.hero-content .desc {
  color: var(--mid-gray);
  max-width: 450px;
  margin: 0 auto;
  line-height: 1.5;
  animation-delay: 0.8s;
  font-weight: bold;
}

.hero-content .action {
  border: none;
  padding: 16px 50px;
  text-transform: capitalize;
  animation-delay: 1.2s;
}

h1 {
  margin-bottom: 0 !important;
}
/*icons*/

/* Social Icon Styling */

.hero-content .social-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 10vh; */
  animation-delay: 1s;
  margin: 0.5rem 0 0.5rem 0;
}

.social-wrapper i {
  padding: 0px 10px;
  color: rgb(153, 153, 153);
  cursor: pointer;
  transition: all ease-in-out 150ms;
  text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.7);
}

.social-wrapper i:hover {
  margin-top: -10px;
  transform: translate(0, -8);
}

#github:hover {
  color: var(--first-color);
  text-shadow: 0px 16px 10px rgba(189, 44, 0, 0.3);
}

#gamedev:hover {
  color: var(--first-color);
  text-shadow: 0px 16px 10px rgba(189, 44, 0, 0.3);
}

#youtube:hover {
  color: var(--first-color);
  text-shadow: 0px 16px 10px rgba(189, 44, 0, 0.3);
}
/*end icons */

@media (min-width: 700px) {
  .hero {
    height: 30vh;
  }
  .hero-header {
    padding: 50px 20px;
  }

  .hero-content .title {
    font-size: 3rem;
  }

  .hero .hero-header .services {
    display: block;
  }

  .hero .hero-header .services li {
    display: inline;
    padding-left: 20px;
  }

  .hero .hero-header .services li a {
    color: #fff;
    font-size: 1.2em;
    text-transform: capitalize;
    font-weight: 600;
  }

  .hero-content .desc {
    max-width: 650px;
  }

  .mobile-menu {
    display: none;
  }
}

.pop-in {
  animation: pop-in 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
}
@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
