@import "./Global.css";
.stats {
  background-color: #e62117;
}
.stats-section {
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
}

.live-stats {
  display: flex;
  flex-wrap: wrap;
}
.item-desc {
  align-items: center;
  text-align: center;
  color: var(--white);
  width: 100%;
}

.live-item {
  padding: 0.9375rem;
  flex: 0 0 50%;
  flex: 1;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 50%);
  margin-bottom: 20px;
  text-align: center;
  color: var(--white);
  border-radius: 6px;
}

.live-item:hover {
  transition: all 200ms ease-in;
  transform: scale(1.05);
}
.live-intro {
  margin-bottom: 1.875rem;
  text-align: center;
}

.live-icon {
  margin-bottom: 1rem;
  justify-content: center;
  display: flex;
  justify-content: space-evenly;
}
.live-title {
  font-weight: bold;
  line-height: 1.15;
  margin-bottom: 1.5rem;
}

.live-description {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

#yt-icon {
  color: var(--white);
  size: 40;
}
/* #youtube {
  color: #e62117;
  align-items: center;
}
#twitter {
  color: #08a0e9;
}
#instagram {
  color: #8134af;
} */

@media screen and (min-device-width: 900px) {
  .live-grid {
    display: flex;
    flex-wrap: wrap;
  }

  .item-desc {
    width: 30%;
  }

  .live-item {
    margin-right: 20px;
    width: 70vh;
  }

  /* .live-title {
    font-size: 1.5rem;
    margin-bottom: 2.125rem;
  } */
}
