@import "./Global.css";

.about {
  background-color: var(--bg-dark);
  height: 35.75076608784474vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.about-header {
  position: relative;
}

.about-profile img {
  width: 96px;
  height: 96px;
  border-radius: 1000px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 6px solid var(--first-color);
}

.card .card-body {
  padding: 18px 48px;
}

.desc {
  margin: 0 10px 0 10px;
}

.about-item {
  margin-right: 20px;
  text-align: center;
  padding: 0.9375rem;
  color: var(--white);
  position: absolute;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 30%);
}

.about-item:hover {
  transition: all 200ms ease-in;
  transform: scale(1.05);
}

.about-description {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

@media screen and (max-width: 900px) {
  .about-item {
    margin-left: 20px;
    width: 80%;
    flex: 0 0 50%;
    flex: 1;
  }
  .about {
    height: 50vh;
  }
}

@media screen and (max-width: 400px) {
  .about {
    height: 70vh;
  }
}
