:root {
  --first-color: #ff304f;
  --second-red: #aa3333;
  --second-color: #fcefee;
  --purple: #2d314d;
  --bg-dark: #000000;
  --white: white;
  --light-red: #ff6b6b;
}
nav {
  height: 6vh;
  background: var(--bg-dark);
  display: flex;
  z-index: 1;
  box-shadow: rgb(36 36 36) 0px 1px 0px;
}
.nav-section {
  box-shadow: rgb(36 36 36) 0px 1px 0px;
}

.navbar-logo {
  text-decoration: none;
  color: var(--white);
  font-size: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
  z-index: 2;
  margin-left: 0.5rem;
}

.logo-left {
  background-color: var(--light-red);
  padding: 0.5px 5px 0.5px 5px;
  border-radius: 8px;
}

.logo-right {
  padding: 3px 8px 3px 3px;
  margin-left: -1px;
  border-radius: 4px;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 15%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}

.nav-links li a {
  position: relative;
  color: var(--white);
  text-decoration: none;
  font-size: 16px;
  transition: color 300ms ease-in-out;
}
.nav-links li a:hover {
  color: var(--bg-dark);
}

.nav-links li a::before {
  position: absolute;
  content: "";
  height: 5px;
  opacity: 0;
  left: 0;
  right: 0;
  bottom: -29px;
  display: block;
  background: var(--light-red);
  transition: opacity 300ms ease-in-out;
}

.nav-links li a:hover:before {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .line-1,
  .line-2,
  .line-3 {
    width: 30px;
    height: 3px;
    background: var(--white);
    margin: 5px;
    transition: all 300ms ease-in-out;
    transform-origin: 3px 1px;
  }

  nav {
    position: relative;
    display: flex;
    z-index: 1;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .nav-links {
    position: absolute;
    background: var(--first-color);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -20%);
    -webkit-clip-path: circle(100px at 90% -20%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(2000px at 90% -20%);
    -webkit-clip-path: circle(2000px at 90% -20%);
    pointer-events: all;
  }

  .hamburger.open .line-1 {
    transform: rotate(45deg);
  }

  .hamburger.open .line-2 {
    opacity: 0;
  }

  .hamburger.open .line-3 {
    transform: rotate(-45deg);
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links li a {
    font-size: 25px;
  }

  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.25s;
  }

  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }

  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }

  li.fade {
    opacity: 1;
  }
}
